spring:
  profiles:
    active: local
  devtools:
    restart:
      enabled: true
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      dialect: org.hibernate.dialect.MySQL8InnoDBDialect
      hibernate:
      # show_sql: true
      format_sql: true
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}
    password: ${REDIS_PASSWORD}
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        debug: true
        mime:
          charset: UTF-8
        transport:
          protocol: smtp


logging:
  level:
    org.hibernate.SQL: info
    org.hibernate.type: trace
servlet:
  multipart:
    enabled: true
    maxFileSize: 1000MB
    maxRequestSize: 1000MB
springdoc:
  swagger-ui:
    tags-sorter: alpha            # alpha: ??? ? ?? ??, method: HTTP Method ? ??
    operations-sorter: alpha


jwt:
  token:
    secret: ${JWT_TOKEN_SECRET}


oauth2:
  kakao:
    info-url: ${KAKAO_INFO_URL}
    base-url: ${KAKAO_BASE_URL}
    client-id: ${KAKAO_CLIENT_ID}
    redirect-uri: ${KAKAO_REDIRECT_URI}

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic

coolsms:
  api:
    key: ${API_KEY}
    secret: ${API_SECRET}
  senderNumber: ${SENDER_NUMBER}

chatgpt:
  key: ${GPT_KEY}